[Desktop Entry]
Exec=kcmshell4 khotkeys
Icon=preferences-desktop-keyboard-khotkeys
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-KDE-Library=kcm_hotkeys
X-KDE-PluginKeyword=khotkeys
X-KDE-Init-Symbol=khotkeys
X-KDE-System-Settings-Parent-Category=input-actions
X-KDE-ParentApp=kcontrol

Name=Input Actions
Name[af]=Inset Aksies
Name[ar]=إجراءات الإدخال
Name[be]=Дзеянні уводу
Name[be@latin]=Uvodnyja aperacyi
Name[bg]=Действия
Name[bn_IN]=ইনপুট সংক্রান্ত কর্ম
Name[br]=Oberoù enkas
Name[ca]=Accions d'entrada
Name[ca@valencia]=Accions d'entrada
Name[cs]=Vstupní činnosti
Name[csb]=Klawiszowé dzéjania
Name[da]=Input-handlinger
Name[de]=Tastenkombinationen
Name[el]=Ενέργειες εισόδου
Name[en_GB]=Input Actions
Name[eo]=Enir-agadoj
Name[es]=Introducir acciones
Name[et]=Sisestustoimingud
Name[eu]=Sarrerako ekintzak
Name[fa]=کنشهای ورودی
Name[fi]=Syöttötoiminnot
Name[fr]=Actions d'entrées
Name[fy]=Ynfieraksjes
Name[ga]=Gníomhartha Ionchurtha
Name[gl]=Accións de entrada
Name[gu]=ઇનપુટ ક્રિયાઓ
Name[he]=פעולות קלט
Name[hi]=इनपुट क्रियाएँ
Name[hne]=इनपुट काम
Name[hr]=Akcije prečaca
Name[hsb]=Zapodawanske akcije
Name[hu]=Beviteli műveletek
Name[id]=Aksi Masukan
Name[is]=Inntaksaðgerðir
Name[it]=Azioni di immissione
Name[ja]=入力アクション
Name[ka]=შეტანის ქმედებები
Name[kk]=Енгізу әрекеттері
Name[km]=សកម្មភាព​បញ្ចូល
Name[kn]=ಆದಾನ ಕ್ರಿಯೆಗಳು
Name[ko]=입력 동작
Name[lt]=Įvesties veiksmai
Name[lv]=Ievades darbības
Name[mai]=इनपुट क्रिया
Name[mk]=Влезни дејства
Name[ml]=ഇന്‍പുട്ട് പ്രവര്‍ത്തനങ്ങള്‍
Name[mr]=इनपुट क्रिया
Name[ms]=Tindakan Input
Name[nb]=Input-handlinger
Name[nds]=Ingaavakschonen
Name[ne]=आगत कार्य
Name[nl]=Invoeracties
Name[nn]=Inn­handlingar
Name[pa]=ਇੰਪੁੱਟ ਐਕਸ਼ਨ
Name[pl]=Akcje klawiszowe
Name[pt]=Acções de Entrada
Name[pt_BR]=Ações de entrada
Name[ro]=Acțiuni de intrare
Name[ru]=Действия
Name[se]=Sisačoallodoaimmat
Name[si]=ආදාන ක්‍රියා
Name[sk]=Vstupné akcie
Name[sl]=Vhodna dejanja
Name[sr]=Акције уноса
Name[sr@ijekavian]=Акције уноса
Name[sr@ijekavianlatin]=Akcije unosa
Name[sr@latin]=Akcije unosa
Name[sv]=Inmatningsåtgärder
Name[ta]=உள்ளீட்டு செயல்கள்
Name[te]=ఇన్‌పుట్ చర్యలు
Name[tg]=Тарзи вуруд
Name[th]=การกระทำเพื่อป้อนข้อมูล
Name[tr]=Girdi Eylemleri
Name[uk]=Ввід
Name[uz]=Kiritish amallari
Name[uz@cyrillic]=Киритиш амаллари
Name[vi]=Hành động gõ
Name[wa]=Accions en intrêye
Name[x-test]=xxInput Actionsxx
Name[zh_CN]=输入动作
Name[zh_TW]=輸入動作

Comment=Configure Input Actions settings
Comment[ar]=اضبط إعدادات إدخال الإجراءات
Comment[bg]=Настройване на входящите действия
Comment[ca]=Configura l'arranjament de les accions d'entrada
Comment[ca@valencia]=Configura l'nfiguració de les accions d'entrada
Comment[cs]=Nastavení vstupních činností
Comment[csb]=Kònfigùracëjô dzéjaniów weńdzeniô
Comment[da]=Indstilling af input-handlinger
Comment[de]=Eingabe-Aktionen einrichten
Comment[el]=Ρυθμίσεις ενεργειών εισόδου
Comment[en_GB]=Configure Input Actions settings
Comment[eo]=Agordo de enigaj agoj
Comment[es]=Configuración de las preferencias de acciones de entrada
Comment[et]=Sisestustoimingute seadistamine
Comment[eu]=Konfiguratu sarrera ekintzen ezarpenak
Comment[fi]=Muokkaa syötetoimntoasetuksia
Comment[fr]=Configurer les paramètres des actions d'entrée
Comment[fy]=Ynfier aksjes ynstelle
Comment[ga]=Cumraigh socruithe na nGníomhartha Ionchurtha
Comment[gl]=Configura as opcións de entrada
Comment[gu]=ઇનપુટ ક્રિયાઓ રૂપરેખાંકિત કરો
Comment[he]=הגדר פעולות קלט
Comment[hr]=Konfiguriranje postavki ulaznih akcija
Comment[hu]=A beviteli műveletek beállításai
Comment[id]=Atur pengaturan Aksi Masukan
Comment[is]=Stillingar inntaksaðgerða
Comment[it]=Configura le impostazioni delle azioni di immissione
Comment[ja]=入力アクションの設定
Comment[kk]=Енгізу әрекеттерінің параметрлерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​នៃ​​ការ​កំណត់​សកម្មភាព​បញ្ចូល
Comment[ko]=입력 동작 설정
Comment[lt]=Konfigūruoti įvedimo veiklų nustatymus
Comment[lv]=Konfigurēt ievades darbību iestatījumus
Comment[mk]=Конфигурирајте ги поставувањата за влезни дејства
Comment[ml]=ഇന്‍പുട്ട് പ്രവര്‍ത്തന സജ്ജീകരണങ്ങള്‍ ക്രമീകരിക്കുക
Comment[nb]=Sett opp innstillinger for inndata-handlinger
Comment[nds]=Instellen för Ingaavakschonen fastleggen
Comment[nl]=Invoeractieinstellingen configureren 
Comment[nn]=Set opp innstillingar for innhandlingar
Comment[pa]=ਇੰਪੁੱਟ ਐਕਸ਼ਨ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja ustawień akcji klawiszowych
Comment[pt]=Configurar as opções das Acções de Entrada
Comment[pt_BR]=Configurar as opções das ações de entrada
Comment[ro]=Configurează acțiunile de intrare
Comment[si]=ආදාන ක්‍රියා සැකසුම් වෙනස් කරන්න
Comment[sk]=Nastavenie vstupných akcií
Comment[sl]=Nastavitve vhodnih dejanj
Comment[sr]=Подешавање поставки улазних радњи
Comment[sr@ijekavian]=Подешавање поставки улазних радњи
Comment[sr@ijekavianlatin]=Podešavanje postavki ulaznih radnji
Comment[sr@latin]=Podešavanje postavki ulaznih radnji
Comment[sv]=Anpassa inställningar av inmatningsåtgärder
Comment[tg]=Танзимоти сабад
Comment[th]=ปรับแต่งการตั้งค่าการกระทำเพื่อป้อนข้อมูล
Comment[tr]=Girdi Eylemleri ayarlarını yapılandır
Comment[uk]=Налаштування параметрів дій з вводу
Comment[x-test]=xxConfigure Input Actions settingsxx
Comment[zh_CN]=配置输入动作设置
Comment[zh_TW]=設定輸入動作
Categories=Qt;KDE;X-KDE-settings-accessibility;

X-KDE-Keywords=global,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launch


