[KDE Desktop Pattern]
Comment=Fish Net
Comment[af]=Visnet
Comment[be]=Рыбалоўная сетка
Comment[bn]=মাছ ধরার জাল
Comment[br]=Roued pesk
Comment[ca]=Xarxa de pescar
Comment[cy]=Rhwyd Pysgod
Comment[et]=Kalavõrk
Comment[hr]=Ribarska mreža
Comment[ka]=მეთევზის ბადე
Comment[ms]=Jala Ikan
Comment[nds]=Fischernett
Comment[pt]=Rede de Pesca
Comment[pt_BR]=Rede de Pesca
Comment[ru]=Рыбацкая сеть
Comment[sk]=Ryby a sieť
Comment[te]=చేపల వల
Comment[uz]=Тўр
Comment[vi]=Lưới đánh cá
Comment[zh_TW]=魚網
File=fish.png
