[KDE Desktop Pattern]
Comment=Flowers
Comment[af]=Blomme
Comment[be]=Кветкі
Comment[bn]=ফুল
Comment[br]=Bleunioù
Comment[ca]=Flors
Comment[cy]=Blodau
Comment[eo]=Floroj
Comment[et]=Lilled
Comment[ga]=Bláthanna
Comment[hr]=Cvijeće
Comment[hu]=Virágok
Comment[is]=Blóm
Comment[ka]=ყვავილები
Comment[lt]=Gėlės
Comment[mk]=Цвеќиња
Comment[ms]=Bunga
Comment[nds]=Blomen
Comment[nl]=Bloemen
Comment[pt]=Flores
Comment[pt_BR]=Flores
Comment[ru]=Цветы
Comment[sk]=Kvety
Comment[sv]=Blommor
Comment[te]=పువ్వులు
Comment[uz]=Гуллар
Comment[vi]=Bông hoa
Comment[xh]=Iintyatyambo
Comment[zh_TW]=花兒
File=flowers.png
