[KDE Desktop Pattern]
Comment=Pavement
Comment[af]=Sypaadjie
Comment[be]=Брушчатка
Comment[bn]=ফুটপাথ
Comment[br]=Pavezadur
Comment[ca]=Paviment
Comment[cy]=Palmant
Comment[ga]=Pábháil
Comment[hr]=Pločnik
Comment[ka]=ქვაფენილი
Comment[lt]=Grindinys
Comment[mk]=Калдрма
Comment[ms]=Turapan
Comment[nds]=Börgerstieg
Comment[pt]=Calçada
Comment[pt_BR]=Calçada
Comment[ru]=Мостовая
Comment[sk]=Chodník
Comment[te]=తలవరుస
Comment[uz]=Йўлак
Comment[vi]=Lát gạch hoa
Comment[xh]=Umgangatho osecaleni kwendlela
File=pavement.png
