[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=SolidRemoteControlManager

Comment=Remote Control Management Backend
Comment[ar]=المنتهى الخلفي لإدارة التحكم عن بعد
Comment[ast]=Motor de xestión de control remotu
Comment[bs]=Pozadina za udaljenu kontrolu
Comment[ca]=Dorsal de gestió del comandament a distància
Comment[ca@valencia]=Dorsal de gestió del comandament a distància
Comment[cs]=Podpůrná vrstva pro vzdálenou správu
Comment[da]=Motor til håndtering af fjernbetjening
Comment[de]=Treiber für Fernbedienungen
Comment[el]=Απομακρυσμένη έλεγχος διαχείρισης σύστημα υποστήριξης
Comment[en_GB]=Remote Control Management Backend
Comment[eo]=Interna Interfaco de la teleregilo
Comment[es]=Motor de gestión de mando a distancia
Comment[et]=Kaugjuhtimise haldamise taustaprogramm
Comment[eu]=Urruneko aginte kudeaketarako backend
Comment[fi]=Kauko-ohjainten hallintataustaosa
Comment[fr]=Moteur de gestion des télécommandes
Comment[fy]=Ofstânsbetsjinning behear backend
Comment[ga]=Inneall Bainisteoireachta Cianrialtáin
Comment[gl]=Infraestrutura de xestión do control remoto
Comment[he]=מנגנון לניהול שליטה מרחוק
Comment[hi]=दूरस्थ नियंत्रण प्रबंधन बैकएण्ड
Comment[hu]=Távirányító-kezelő modul
Comment[ia]=Gestion de retro-parte  de Controlo Remote
Comment[id]=Kontrol Jarak Jauh Ujung Belakang Manajemen
Comment[it]=Motore di gestione del telecomando
Comment[kk]=Қашықтан басқарғыштың басқару тетігі
Comment[kn]=ದೂರಸ್ಥ ನಿಯಂತ್ರಣ ನಿರ್ವಹಣೆ ಬ್ಯಾಕ್ಎಂಡ್
Comment[ko]=원격 제어 관리 백엔드
Comment[lt]=Nuotolinio valdymo tvarkymo varikliukas
Comment[mk]=Заден крај за менаџмент на оддалечена контрола
Comment[ml]=വിദൂര നിയന്ത്രണ നടത്തിപ്പിനുള്ള സംവിധാനം
Comment[mr]=रीमोट कंट्रोल व्यवस्थापन बॅकएन्ड
Comment[nb]=Bakgrunnsmotor for kontroll av fjernstyring
Comment[nds]=Hülpprogramm för de Pleeg vun Feernbedeners 
Comment[nl]=Afstandsbedieningbeheer-backend
Comment[nn]=Motor for handsaming av fjernkontrollering
Comment[pa]=ਰਿਮੋਟ ਕੰਟਰੋਲ ਪਰਬੰਧ ਬੈਕਐਂਡ
Comment[pl]=Usługa zdalnego zarządzania
Comment[pt]=Infra-Estrutura de Gestão de Comandos à Distância
Comment[pt_BR]=Infraestrutura de gerenciamento do controle remoto
Comment[ro]=Platformă pentru gestiunea controlului la distanță
Comment[ru]=Внутренняя программа контроля дистанционного управления
Comment[si]=දුරස්ථ පාලන කළමණාකරන පසුඉම
Comment[sk]=Podporná vsrtva pre správu diaľkových ovládačov
Comment[sl]=Hrbtenica za upravljanje z daljinskimi upravljalniki
Comment[sr]=Позадина за управљање даљинскима
Comment[sr@ijekavian]=Позадина за управљање даљинскима
Comment[sr@ijekavianlatin]=Pozadina za upravljanje daljinskima
Comment[sr@latin]=Pozadina za upravljanje daljinskima
Comment[sv]=Gränssnitt för fjärrkontrollhantering
Comment[tg]=Пуштибонии идоракунии шабака
Comment[th]=โปรแกรมเบื้องหลังของการจัดการเครือข่ายจากทางไกล
Comment[tr]=Uzaktan Denetim Yönetimi Arka Ucu
Comment[uk]=Сервер керування пристроями дистанційного керування
Comment[x-test]=xxRemote Control Management Backendxx
Comment[zh_CN]=远程控制管理后端
Comment[zh_TW]=遠端控制管理後端介面

[PropertyDef::X-KDE-SolidBackendInfo-Version]
Type=QString

