[Desktop Entry]
Comment=Blank desktop view furniture
Comment[ca]=Accessori de vista d'escriptori buit
Comment[de]=Einrichtung der Ansicht einer leeren Arbeitsfläche
Comment[es]=Accesorio de vista del escritorio vacío
Comment[fi]=Tyhjän työpöydän sisustus
Comment[fr]=Aménagement du bureau vide
Comment[gl]=Baleira de contidos a vista do escritorio
Comment[hu]=Üres munkaasztal nézet bútor
Comment[ia]=Blanchi le vista de accessorios de scriptorio
Comment[kk]=Бос үстел көрініс әбзелдері
Comment[nb]=Tomt skrivebord, vis møbler
Comment[nds]=Möbelmang för Leddig-Schriefdisch-Ansicht
Comment[nl]=Meubilair voor weergave op blanco bureaublad
Comment[pl]=Pusty widok umeblowania pulpitu
Comment[pt]=Disposição de ecrã vazio
Comment[pt_BR]=Acessório de visualização da área de trabalho vazia
Comment[sk]=Prázdna plocha zobraziť nábytok
Comment[sl]=Prazna delovna površina prikaza namizja
Comment[sr]=Намештај приказа празне површи
Comment[sr@ijekavian]=Намештај приказа празне површи
Comment[sr@ijekavianlatin]=Nameštaj prikaza prazne površi
Comment[sr@latin]=Nameštaj prikaza prazne površi
Comment[sv]=Visa tomma skrivbordsmöbler
Comment[tr]=Boş masaüstü mobilya görünümü
Comment[uk]=Компоненти для перегляду порожньої стільниці
Comment[x-test]=xxBlank desktop view furniturexx
Comment[zh_TW]=空白桌面檢視設備
Encoding=UTF-8
Keywords=
Name=Blank Desktop
Name[ca]=Escriptori buit
Name[cs]=Prázdná pracovní plocha
Name[de]=Leere Arbeitsfläche
Name[el]=Κενή επιφάνεια εργασίας
Name[es]=Escritorio vacío
Name[eu]=Mahaigaina hutsik
Name[fi]=Tyhjä työpöytä
Name[fr]=Bureau vide
Name[gl]=Baleirar o escritorio
Name[hu]=Üres munkaasztal
Name[ia]=Blanchi scriptorio
Name[kk]=Бос жұмыс үстелі
Name[nb]=Tomt Skrivebord
Name[nds]=Leddig Schriefdisch
Name[nl]=Blanco bureaublad
Name[pl]=Pusty pulpit
Name[pt]=Ecrã Vazio
Name[pt_BR]=Área de trabalho vazia
Name[ro]=Birou gol
Name[sk]=Prázdna plocha
Name[sl]=Prazno namizje
Name[sr]=Празна површ
Name[sr@ijekavian]=Празна површ
Name[sr@ijekavianlatin]=Prazna površ
Name[sr@latin]=Prazna površ
Name[sv]=Tomt skrivbord
Name[tr]=Boş Masaüstü
Name[uk]=Порожня стільниця
Name[x-test]=xxBlank Desktopxx
Name[zh_CN]=清空桌面
Name[zh_TW]=空白桌面
Type=Service

X-KDE-ServiceTypes=Plasma/Shell
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.blank
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=layout.js
