[Desktop Entry]
Name=Minimal Menu
Name[ca]=Menú mínim
Name[ca@valencia]=Menú mínim
Name[da]=Minimal menu
Name[en_GB]=Minimal Menu
Name[es]=Menú mínimo
Name[et]=Minimaalne menüü
Name[fi]=Minimaalinen valikko
Name[hr]=Minimalni izbornik
Name[id]=Menu Minimal
Name[km]=ម៉ឺនុយ​អប្បបរមា
Name[lv]=Minimāla izvēlne
Name[nb]=Minimal meny
Name[nds]=Minimaalmenü
Name[nl]=Minimaal menu
Name[nn]=Liten meny
Name[pl]=Menu minimalistyczne
Name[pt]=Menu Mínimo
Name[sv]=Minimal meny
Name[tg]=Менюи хурдтарин
Name[uk]=Мінімальне меню
Name[zh_CN]=最小化菜单
Name[zh_TW]=最小化選單
Type=Service
Icon=help-contextual
ServiceTypes=Plasma/ContainmentActions
NoDisplay=true

X-KDE-Library=plasma_containmentactions_minimalcontextmenu
X-KDE-PluginInfo-Author=Chani
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=minimalcontextmenu
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL

X-Plasma-HasConfigurationInterface=false
