[Desktop Entry]
Name=trash(qml)
Name[bs]=smeće(qml)
Name[ca]=Paperera (QML)
Name[ca@valencia]=Paperera (QML)
Name[de]=Papierkorb (QML)
Name[el]=απορρίμματα(qml)
Name[es]=Papelera (qml)
Name[eu]=zakarrontzia(qml)
Name[fi]=Roskakori (QML)
Name[fr]=Corbeille (QML)
Name[gl]=lixo (qml)
Name[hu]=kuka(qml)
Name[ia]=trash(qml)
Name[kk]=trash(qml)
Name[lt]=šiukšliadėžė(qml)
Name[nb]=papirkurv(qml)
Name[nds]=Affalltünn(qml)
Name[nl]=trash(qml)
Name[pl]=kosz(qml)
Name[pt]=Lixo (QML)
Name[pt_BR]=Lixeira (QML)
Name[sk]=trash(qml)
Name[sl]=smeti(qml)
Name[sr]=смеће (КуМЛ)
Name[sr@ijekavian]=смеће (КуМЛ)
Name[sr@ijekavianlatin]=smeće (QML)
Name[sr@latin]=smeće (QML)
Name[sv]=Papperskorg (QML)
Name[tr]=çöp(qml)
Name[uk]=смітник(qml)
Name[x-test]=xxtrash(qml)xx
Name[zh_CN]=回收站(qml)
Name[zh_TW]=資源回收桶（qml）
Type=Service
Icon=user-trash
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-Plasma-RequiredExtensions=LaunchApp,localio
X-Plasma-OptionalExtensions=LaunchApp
X-Plasma-ConfigPlugins=kcmtrash
X-KDE-Library=plasma_applet_trash
X-KDE-PluginInfo-Author=Heena
X-KDE-PluginInfo-Email=heena393@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.trash
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=Gpl
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
X-Plasma-Requires-KRun=true
