[Desktop Entry]
Icon=view-list-tree
Type=Service
X-KDE-ServiceTypes=SystemSettingsView

X-KDE-Library=classic_mode
X-KDE-Keywords=System Settings

Name=Classic Tree View
Name[ar]=عرض شجرة تقليدي
Name[bg]=Класически изглед (дърво)
Name[ca]=Vista d'arbre clàssica
Name[ca@valencia]=Vista d'arbre clàssica
Name[cs]=Klasický stromový pohled
Name[csb]=Klasykòwi wëzdrzatk drzewiã
Name[da]=Klassisk trævisning
Name[de]=Klassische Baumansicht
Name[el]=Κλασσική προβολή δέντρου
Name[en_GB]=Classic Tree View
Name[eo]=Klasika Arb-vido
Name[es]=Vista de árbol clásica
Name[et]=Klassikaline puuvaade
Name[eu]=Zuhaitz ikuspegi klasikoa
Name[fi]=Klassinen puunäkymä
Name[fr]=Vue en arbre classique
Name[fy]=Klassike beamstrucktuer
Name[ga]=Amharc Clasaiceach Crainn
Name[gl]=Vista en árbore clásica
Name[gu]=પરંપરાગત વૃક્ષ દેખાવ
Name[he]=תצוגת עץ קלאסית
Name[hr]=Klasičan prikaz stabla
Name[hu]=Klasszikus fastruktúra-nézet
Name[id]=Tampilan Pohon Klasik
Name[is]=Klassísk trjásýn
Name[it]=Vista ad albero classica
Name[ja]=古典的なツリー表示
Name[kk]=Қлассикалық Бұтақты көрініс
Name[km]=ទិដ្ឋភាព​មែកធាង​បុរាណ
Name[kn]=ಸಾಂಪ್ರದಾಯಿಕ ವೃಕ್ಷ ನೋಟ
Name[ko]=고전 트리 보기
Name[lt]=Klasikinis medžio vaizdas
Name[lv]=Klasisks koka skats
Name[mai]=क्लासिक तरू दृश्य
Name[mk]=Преглед со класично стебло
Name[ml]=ക്ലാസിക് വൃക്ഷ കാഴ്ച
Name[nb]=Klassisk trevisning
Name[nds]=Klass'sch Boomansicht
Name[nl]=Klassieke boomweergave
Name[nn]=Klassisk trevising
Name[pa]=ਟਕਸਾਲੀ ਟਰੀ ਝਲਕ
Name[pl]=Klasyczny widok drzewa
Name[pt]=Árvore Clássica
Name[pt_BR]=Visão em árvore clássica
Name[ro]=Vizualizare arborescentă clasică
Name[ru]=Дерево
Name[si]=සාම්ප්‍රධායික ගස් දසුන
Name[sk]=Klasické stromové zobrazenie
Name[sl]=Klasičen drevesni prikaz
Name[sr]=Класични приказ стабла
Name[sr@ijekavian]=Класични приказ стабла
Name[sr@ijekavianlatin]=Klasični prikaz stabla
Name[sr@latin]=Klasični prikaz stabla
Name[sv]=Klassisk trädvy
Name[tg]=Намоиши дарахти классикӣ
Name[th]=มุมมองแบบผังต้นไม้
Name[tr]=Klasik Ağaç Görünümü
Name[uk]=Класичний перегляд деревом
Name[wa]=Vuwe classike e coxhlaedje
Name[x-test]=xxClassic Tree Viewxx
Name[zh_CN]=经典树形视图
Name[zh_TW]=傳統樹狀檢視
Comment=A Classic KDE 3 KControl style system settings view.
Comment[ar]=عرض إعدادات النظام بأسلوب KControl  الموجود في كدي 3 .
Comment[bg]=Класически изглед (като KDE 3).
Comment[ca]=Una vista de l'arranjament del sistema a l'estil clàssic del KControl del KDE 3.
Comment[ca@valencia]=Una vista de l'nfiguració del sistema a l'estil clàssic del KControl del KDE 3.
Comment[cs]=Klasický styl pohledu Ovládacího centra KDE 3.
Comment[csb]=Systemòwi nastôw w klasykòwim sztélu KDE 3
Comment[da]=En klassisk visning af Systemindstillinger i stil med KDE 3 KControl.
Comment[de]=Eine klassische KDE-3-Ansicht für die Systemeinstellungen.
Comment[el]=Ένα κλασσικό στυλ εμφάνισης ρυθμίσεων συστήματος του KDE 3 KControl.
Comment[en_GB]=A Classic KDE 3 KControl style system settings view.
Comment[es]=Una vista clásica de KControl de KDE de las preferencias del sistema.
Comment[et]=KDE3 klassikalise juhtimiskeskuse laadis süsteemi seadistuste vaade.
Comment[eu]=KDE 3 KControl estilo klasikodun sistemaren ezarpen ikuspegia.
Comment[fi]=Klassinen KDE 3 KControl -tyylinen järjestelmäasetusnäkymä.
Comment[fr]=Une vue des paramètres systèmes classique dans le style de KControl de KDE 3
Comment[fy]=In klassike KDE 3 KControl styl systeem ynstellings werjefte.
Comment[gl]=Unha vista da configuración do sistema co estilo clásico de KControl de KDE 3.
Comment[he]=תצוגת מרכז בקרה למערכת בסגנון KDE 3 קלאסי.
Comment[hr]=Klasični KDE 3 KControl stil prikaza sustavskih postavki.
Comment[hu]=KDE 3 KControl-stílusú nézet a Rendszerbeállításokhoz.
Comment[id]=Tampilan pengaturan sistem gaya KControl KDE 3 Klasik.
Comment[is]=Klassískur stíll KDE 3 KControl kerfisstillingasýnar.
Comment[it]=Una classica vista delle impostazioni di sistema sullo stile del centro di controllo di KDE 3.
Comment[ja]=KDE 3 のコントロールセンターの表示スタイル
Comment[kk]=Классикалық KDE 3 KControl стильдегі жүйе параметрлер көрнісі
Comment[km]=ទិដ្ឋភាព​ការ​កំណត់​ប្រព័ន្ធ​រចនាប័ទញម​របស់ KDE 3 KControl បុរាណ ។
Comment[kn]=ಸಾಂಪ್ರದಾಯಿಕ KDE 3 KControl ಶೈಲಿಯ ವ್ಯವಸ್ಥೆಯ ಸಂಯೋಜನೆಗಳ ನೋಟ.
Comment[ko]=KDE 3 제어판 스타일로 시스템 설정을 표시합니다.
Comment[lt]=Klasikinis KDE 3 KControl stiliaus sistemos nustatymų vaizdas.
Comment[lv]=Klaksiskais KDE 3 KControl stila sistēmas iestatījumu skats.
Comment[ml]=കെഡിഈ 3ലെ കെ നിയന്ത്രണരീതിയിലുള്ള വ്യവസ്ഥ ഒരുക്കുന്നതിന്റെ ക്ലാസിക് കാഴ്ച
Comment[nb]=En visning av systeminnstillinger med klassisk KDE 3 KControl-stil.
Comment[nds]=En klass'sch Ansicht för de Systeeminstellen, as bi KDE-3 sien KControl.
Comment[nl]=Een systeeminstelling voor een klassieke KDE3 KControl weergave.
Comment[nn]=Ei klassisk vising av systeminnstillingane som liknar KControl i KDE 3.
Comment[pl]=Klasyczny widok ustawień systemowych z Centrum sterowania KDE 3.
Comment[pt]=A vista para a configuração do sistema clássica do KControl do KDE 3.
Comment[pt_BR]=Um estilo de visão clássico das configurações do sistema do KControl do KDE 3
Comment[ro]=Vizualizare clasică KControl KDE 3 pentru Configurări de sistem.
Comment[si]=සාම්ප්‍රධායික KDE 3 KControl රටා පද්ධති සැකසුම් දසුන.
Comment[sk]=Klasický štýl zobrazenia Ovládacieho centra KDE 3.
Comment[sl]=Prikaz za sistemske nastavitve v slogu nadzornega središča iz KDE 3.
Comment[sr]=Приказ поставки у класичном стилу К‑контроле из КДЕ‑а 3.
Comment[sr@ijekavian]=Приказ поставки у класичном стилу К‑контроле из КДЕ‑а 3.
Comment[sr@ijekavianlatin]=Prikaz postavki u klasičnom stilu K‑kontrole iz KDE‑a 3.
Comment[sr@latin]=Prikaz postavki u klasičnom stilu K‑kontrole iz KDE‑a 3.
Comment[sv]=En klassisk systeminställningsvy som liknar inställningscentralen i KDE 3.
Comment[tg]=Намоиши системаи KDE 3 KControl бо танзимотҳои классикӣ.
Comment[th]=รูปแบบมุมมองคลาสสิกของศูนย์ควบคุม KDE 3 แบบผังต้นไม้
Comment[tr]=Klasik KDE3 KControl biçimi sistem ayarları görünümü.
Comment[uk]=Класичний перегляд параметрів у стилі KControl з KDE 3.
Comment[wa]=Ene vuwe classike des tchuzes do sistinme al façon di KControl dins KDE 3.
Comment[x-test]=xxA Classic KDE 3 KControl style system settings view.xx
Comment[zh_CN]=经典的 KDE 3 控制中心风格系统设置视图。
Comment[zh_TW]=傳統 KDE3 KControl 風格的系統設定檢視。
