[Desktop Entry]
Type=Service
Name=Application menus daemon
Name[el]=Δαίμων για τα μενού των εφαρμογών
Name[es]=Demonio de menús de aplicación
Name[et]=Rakenduste menüü deemon
Name[hu]=Alkalmazás menük démon
Name[ia]=Demone de menus de application
Name[nb]=Daemon for programmenyer
Name[nl]=Daemon voor menu van toepassingen
Name[pt]=Servidor dos menus da aplicação
Name[pt_BR]=Servidor dos menus do aplicativo
Name[sk]=Démon ponúk aplikácie
Name[sr]=Демон програмских менија
Name[sr@ijekavian]=Демон програмских менија
Name[sr@ijekavianlatin]=Demon programskih menija
Name[sr@latin]=Demon programskih menija
Name[sv]=Demon för programmenyer
Name[uk]=Фонова служба меню програм
Name[x-test]=xxApplication menus daemonxx
Comment=Transfers application's menu to the desktop
Comment[de]=Überträgt Anwendungsmenüs auf die Arbeitsfläche
Comment[el]=Μεταφέρει το μενού της εφαρμογής στην επιφάνεια εργασίας
Comment[es]=Transfiere el menú de aplicaciones al escritorio
Comment[et]=Rakenduste menüü paigutamine töölauale
Comment[hu]=Átviszi az alkalmazás menüjét az asztalra
Comment[ia]=Il transfere menu de applicationes al scriptorio
Comment[nb]=Overfører programmets meny til skrivebordet
Comment[nl]=Brengt het menu van de toepassing over naar het bureaublad
Comment[pt]=Transfere o menu da aplicação para o ecrã
Comment[pt_BR]=Transfere o menu do aplicativo para a área de trabalho
Comment[sk]=Presunúť ponuky aplikácie na plochu
Comment[sr]=Пребацује меније програма на површ
Comment[sr@ijekavian]=Пребацује меније програма на површ
Comment[sr@ijekavianlatin]=Prebacuje menije programa na površ
Comment[sr@latin]=Prebacuje menije programa na površ
Comment[sv]=Överför programmets meny till skrivbordet
Comment[uk]=Передає меню програм на стільницю
Comment[x-test]=xxTransfers application's menu to the desktopxx
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=appmenu
X-KDE-DBus-ModuleName=appmenu
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false

