[Desktop Entry]
Type=Service
Name=Application menus daemon
Name[da]=Dæmon til programmenuer
Name[el]=Δαίμονας μενού εφαρμογών
Name[es]=Demonio de menús de aplicaciones
Name[et]=Rakenduste menüü deemon
Name[fi]=Sovellusvalikon palvelu
Name[fr]=Démon des menus d'applications
Name[hu]=Alkalmazásmenü démon
Name[km]=ដេមិន​ម៉ឺនុយ​កម្មវិធី
Name[nl]=Daemon voor menu's van toepassingen
Name[pl]=Demon menu programów
Name[pt]=Servidor dos menus da aplicação
Name[pt_BR]=Servidor dos menus do aplicativo
Name[sk]=Démon ponúk aplikácie
Name[sv]=Demon för programmenyer
Name[uk]=Фонова служба меню програм
Name[x-test]=xxApplication menus daemonxx
Name[zh_TW]=應用程式選單伺服程式
Comment=Transfers application's menu to the desktop
Comment[cs]=Přesouvá nabídku aplikací na plochu
Comment[da]=Overfører programmenuer til skrivebordet
Comment[de]=Überträgt Anwendungsmenüs auf die Arbeitsfläche
Comment[el]=Μεταφέρει το μενού της εφαρμογής στην επιφάνεια εργασίας
Comment[es]=Transfiere menús de aplicaciones al escritorio
Comment[et]=Rakenduste menüü paigutamine töölauale
Comment[fi]=Siirtää sovelluksen valikon työpöydälle
Comment[fr]=Transfère le menu de l'application sur le bureau
Comment[hu]=Átviszi az alkalmazások menüjét az asztalra
Comment[km]=ផ្ទេរ​ម៉ឺនុយ​របស់​កម្មវិធី​ទៅ​ផ្ទៃតុ
Comment[nl]=Verplaatst menu's van toepassingen naar het bureaublad
Comment[pl]=Przenosi menu aplikacji na pulpit
Comment[pt]=Transfere o menu da aplicação para o ecrã
Comment[pt_BR]=Transfere o menu do aplicativo para a área de trabalho
Comment[sk]=Presunúť ponuky aplikácie na plochu
Comment[sv]=Överför programmets meny till skrivbordet
Comment[uk]=Передає меню програм на стільницю
Comment[x-test]=xxTransfers application's menu to the desktopxx
Comment[zh_TW]=將應用程式選單傳送到桌面
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=appmenu
X-KDE-DBus-ModuleName=appmenu
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false

