[Desktop Entry]
Name=System Tray Plasmoid Test
Name[cs]=Test Plasmoidu systémové části panelu
Name[es]=Prueba de plasmoide de la bandeja del sistema
Name[kk]=Плазмоид жүйелік сөре сынағы
Name[nl]=Plasmoid test in systeemvak
Name[pt]=Plasmóide de Testes da Bandeja do Sistema
Name[pt_BR]=Plasmoide de teste da área de notificação
Name[sk]=Plazmoidový test systémovej lišty
Name[sv]=Test av Plasmoid för systembricka
Name[uk]=Перевірка плазмоїду системного лотка
Name[x-test]=xxSystem Tray Plasmoid Testxx
Name[zh_TW]=Plasmoid 測試系統匣
Comment=Test the system tray
Comment[de]=Test des Systemabschnitts der Kontrollleiste
Comment[es]=Probar la bandeja del sistema
Comment[kk]=Жүйелік сөре сынағы
Comment[nl]=Test het systeemvak
Comment[pt]=Testar a bandeja do sistema
Comment[pt_BR]=Testar a área de notificação
Comment[sk]=Testovať systémovú lištu
Comment[sv]=Testa systembrickan
Comment[uk]=Перевірка системного лотка
Comment[x-test]=xxTest the system trayxx
Comment[zh_TW]=測試系統匣
Icon=preferences-desktop-notification
Type=Service

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.systrayplasmoidtest
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true

X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-DefaultSize=100,100
X-Plasma-NotificationArea=true
X-Plasma-MainScript=ui/main.qml
