[Desktop Entry]
Name=Default Desktop (QML)
Comment=A clean and simple layout
Type=Service
Icon=user-desktop
NoDisplay=false

X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-KDE-Library=plasma_containment_desktopqml

X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma.desktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-DefaultSize=1024,768
X-Plasma-Requires-FileDialog=Required
X-Plasma-Requires-LaunchApp=Required
X-Plasma-ContainmentCategories=desktop

