[Desktop Entry]
Name=Pager
Name[bs]=pejdžer
Name[ca]=Paginador
Name[ca@valencia]=Paginador
Name[cs]=Přepínač ploch
Name[da]=Skrivebordsvælger
Name[de]=Arbeitsflächen-Umschalter
Name[el]=Πίνακας σελίδων
Name[es]=Paginador
Name[et]=Töölaua vahetaja
Name[fi]=Sivutin
Name[fr]=Gestionnaire de bureaux
Name[ga]=Brabhsálaí Leathanach
Name[gl]=Paxinador
Name[he]=Pager
Name[hu]=Asztalváltó
Name[ia]=Paginator
Name[it]=Cambiadesktop
Name[kk]=Ақтарғыш
Name[ko]=전환기
Name[lt]=Puslapiuotojas
Name[mr]=पेजर
Name[nb]=Skrivebordsbytter
Name[nl]=Pager
Name[pa]=ਪੇਜ਼ਰ
Name[pl]=Pager
Name[pt]=Paginador
Name[pt_BR]=Paginador
Name[ro]=Paginator
Name[ru]=Переключатель рабочих столов
Name[sk]=Prepínač plôch
Name[sl]=Pozivnik
Name[sr]=листач
Name[sr@ijekavian]=листач
Name[sr@ijekavianlatin]=listač
Name[sr@latin]=listač
Name[sv]=Skrivbordsvisning
Name[tr]=Sayfalayıcı
Name[uk]=Пейджер
Name[x-test]=xxPagerxx
Name[zh_CN]=分页器
Name[zh_TW]=虛擬桌面管理器
Icon=user-desktop
Type=Service
X-Plasma-API=declarativeappletscript
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=org.kde.pager
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://userbase.kde.org/Plasma/Pager
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
