# This is not really a .desktop file like the rest, but it is useful to treat
# it as such

[KdmGreeterTheme]
Greeter=oxygen-air.xml
Name=Oxygen-Air
Name[ar]=أكسجين-هواء
Name[bn_IN]=Oxygen-Air
Name[ca]=Oxygen-Air
Name[cs]=Oxygen-Air
Name[da]=Oxygen-Air
Name[de]=Oxygen-Air
Name[el]=Oxygen-Air
Name[es]=Oxígeno-Aire
Name[et]=Oxygen-Air
Name[fr]=Oxygen-Air
Name[fy]=Oxygen-Air
Name[gl]=Oxygen-Air
Name[hi]=आक्सीजन-एयर
Name[hr]=Oxygen-Air
Name[hu]=Oxygen-Air
Name[is]=Oxygen-Air
Name[it]=Oxygen-Air
Name[ja]=Oxygen-Air
Name[km]=ខ្យល់​អុកស៊ីហ្សែន
Name[kn]=ಆಮ್ಲಜನಕ -ಗಾಳಿ
Name[lv]=Oxygen-Air
Name[mai]=आक्सीजन-हवा
Name[mk]=Оксиген-Аир
Name[mr]=Oxygen-Air
Name[nb]=Oxygen-Air
Name[nds]=Oxygen-Air
Name[nl]=Oxygen-Air
Name[nn]=Oxygen-Air
Name[pa]=ਆਕਸੀਜਨ-ਹਵਾ
Name[pl]=Oxygen-Air
Name[pt]=Ar-Oxygen
Name[pt_BR]=Oxygen-Ar
Name[ro]=Oxygen-Air
Name[ru]=Oxygen-Air
Name[sl]=Kisik-Zrak
Name[sr]=Кисеоник-ваздух
Name[sr@latin]=Kiseonik-vazduh
Name[sv]=Oxygenluft
Name[tg]=Oxygen-Air
Name[tr]=Oxygen-Air
Name[uk]=Oxygen-Air
Name[wa]=Ocsidjinne-Air
Name[x-test]=xxOxygen-Airxx
Name[zh_CN]=绿氧
Name[zh_TW]=Oxygen-Air
Author=Xavier Araque
Copyright=GPL 2008 Xavier Araque | xavieraraque@gmail.com
Screenshot=screenshot.png
