[Desktop Entry]
Exec=kcmshell4 screensaver
Icon=preferences-desktop-screensaver
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/screensaver/index.html

X-KDE-Library=kcm_screensaver
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=70

Name=Screen Locker

Comment=Screen Locker Settings

X-KDE-Keywords=screensavers,Priority,locking,security

Categories=Qt;KDE;X-KDE-settings-looknfeel;
