[Desktop Entry]
Exec=kcmshell4 screensaver
Icon=preferences-desktop-screensaver
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/screensaver/index.html

X-KDE-Library=kcm_screensaver
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=70

Name=Screen Locker

Comment=Screen Locker Settings

X-KDE-Keywords=screensavers,Priority,locking,security
X-KDE-Keywords[ca]=estalvis de pantalla,Prioritat
X-KDE-Keywords[ca@valencia]=estalvis de pantalla,Prioritat
X-KDE-Keywords[cs]=spořiče obrazovky,priorita
X-KDE-Keywords[da]=pauseskærme,prioritet
X-KDE-Keywords[de]=Bildschirmschoner,Priorität
X-KDE-Keywords[el]=προφύλαξη οθόνης,Προτεραιότητα
X-KDE-Keywords[es]=salvapantallas,Prioridad
X-KDE-Keywords[et]=ekraanisäästjad,prioriteet
X-KDE-Keywords[fi]=näytönsäästäjät,prioriteetti,tärkeys
X-KDE-Keywords[fr]=écran de veille,priorité
X-KDE-Keywords[ga]=spárálaithe scáileáin,Tosaíocht
X-KDE-Keywords[gl]=protector de pantalla, salvapantallas, prioridade
X-KDE-Keywords[hu]=képernyővédők,Prioritás
X-KDE-Keywords[ia]=salvatores de schermo,Prioritate
X-KDE-Keywords[it]=salvaschermi,priorità
X-KDE-Keywords[kk]=screensavers,Priority
X-KDE-Keywords[km]=​ធាតុរក្សា​អេក្រង់ អាទិភាព
X-KDE-Keywords[nb]=pauseskjermer,Prioritet
X-KDE-Keywords[nds]=Pausschirmen,Prioriteet
X-KDE-Keywords[nl]=schermbeveiliging,prioriteit
X-KDE-Keywords[pa]=ਸਕਰੀਨ-ਸੇਵਰ,ਤਰਜੀਹ
X-KDE-Keywords[pl]=wygaszacze ekranu,Priorytet
X-KDE-Keywords[pt]=protector de ecrã,prioridade
X-KDE-Keywords[pt_BR]=protetor de tela,Prioridade
X-KDE-Keywords[ro]=protecție de ecran,prioritate
X-KDE-Keywords[sk]=šetriče obrazovky,Priorita
X-KDE-Keywords[sl]=ohranjevalnik zaslona,prednost
X-KDE-Keywords[sr]=screensavers,Priority,чувар екрана,приоритет
X-KDE-Keywords[sr@ijekavian]=screensavers,Priority,чувар екрана,приоритет
X-KDE-Keywords[sr@ijekavianlatin]=screensavers,Priority,čuvar ekrana,prioritet
X-KDE-Keywords[sr@latin]=screensavers,Priority,čuvar ekrana,prioritet
X-KDE-Keywords[sv]=skärmsläckare,Prioritet
X-KDE-Keywords[tr]=ekran koruyucular, Öncelik
X-KDE-Keywords[uk]=screensavers,Priority,зберігач,екран,пріоритет
X-KDE-Keywords[x-test]=xxscreensavers,Priorityxx
X-KDE-Keywords[zh_CN]=screensavers,Priority,屏幕保护
X-KDE-Keywords[zh_TW]=screensavers,Priority

Categories=Qt;KDE;X-KDE-settings-looknfeel;
