[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=lost_and_found
Icon=folder-documents

Name=Lost And Found
Name[ca]=Perdut i trobat
Name[ca@valencia]=Perdut i trobat
Name[cs]=Ztráty a nálezy
Name[da]=Hittegods
Name[de]=Nicht zuzuordnen
Name[el]=Χάθηκαν και Βρέθηκαν
Name[en_GB]=Lost And Found
Name[es]=Objetos perdidos
Name[et]=Kaotatud ja leitud
Name[fi]=Hävinneet ja löydetyt
Name[fr]=Objets trouvés
Name[ga]=Earraí Caillte
Name[hr]=Izgubljeno i nađeno
Name[hu]=Elveszett és megtalált
Name[ia]=Trovate e Perdite
Name[is]=Tapað og fundið
Name[it]=Oggetti smarriti
Name[ja]=Lost And Found
Name[km]=បាត់ ហើយ​រកឃើញ
Name[ko]=기타 프로그램
Name[lv]=Pazudis un atrasts
Name[nb]=Mistet og funnet
Name[nds]=Passt narms sünst
Name[nl]=Verloren en gevonden
Name[pl]=Zgubione i znalezione
Name[pt]=Perdidos e Achados
Name[pt_BR]=Achados e perdidos
Name[ru]=Прочее
Name[sl]=Izgubljeno in najdeno
Name[sr]=Изгубљено-нађено
Name[sr@ijekavian]=Изгубљено-нађено
Name[sr@ijekavianlatin]=Izgubljeno-nađeno
Name[sr@latin]=Izgubljeno-nađeno
Name[sv]=Hittegods
Name[tr]=Kayıplar ve Bulunanlar
Name[uk]=Втрачено і знайдено
Name[x-test]=xxLost And Foundxx
Name[zh_CN]=未知类别
Name[zh_TW]=Lost And Found
