[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=graphical_information
Icon=folder-documents

Name=Graphical Information
Name[ca]=Informació gràfica
Name[da]=Grafikinformation
Name[de]=Grafische Informationen
Name[el]=Γραφικές πληροφορίες
Name[es]=Información gráfica
Name[et]=Monitoriteave
Name[fr]=Informations graphiques
Name[ga]=Faisnéis Ghrafach
Name[ia]=Information Graphic
Name[it]=Informazioni grafiche
Name[nds]=Graafsche Informatschonen
Name[nl]=Grafische informatie
Name[pt]=Informação Gráfica
Name[pt_BR]=Informações gráficas
Name[sl]=Podatki o grafiki
Name[sr]=Подаци о графици
Name[sr@ijekavian]=Подаци о графици
Name[sr@ijekavianlatin]=Podaci o grafici
Name[sr@latin]=Podaci o grafici
Name[sv]=Grafisk information
Name[uk]=Графічна інформація
Name[x-test]=xxGraphical Informationxx
Name[zh_CN]=图形化信息
Name[zh_TW]=圖形資訊
