[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=network_information
Icon=folder-documents

Name=Network Information
Name[it]=Informazioni sulla rete
Name[sv]=Nätverksinformation
Name[uk]=Інформація щодо мережі
Name[x-test]=xxNetwork Informationxx
