# KDE Desktop Entry
[Desktop Entry]
Name=Ozone
Name[ar]=أوزون
Name[be@latin]=Ozone
Name[bg]=Озон
Name[bn]=ওজোন
Name[bn_IN]=Ozone (ওজোন)
Name[ca]=Ozone
Name[ca@valencia]=Ozone
Name[cs]=Ozone
Name[csb]=Òzón
Name[da]=Ozone
Name[de]=Ozon
Name[el]=Ozone
Name[en_GB]=Ozone
Name[eo]=Ozone
Name[es]=Ozono
Name[et]=Ozone
Name[eu]=Ozonoa
Name[fi]=Ozone
Name[fr]=Ozone
Name[fy]=Ozone
Name[ga]=Ózón
Name[gl]=Ozone
Name[gu]=ઓઝોન
Name[he]=Ozone
Name[hi]=ओजोन
Name[hne]=ओजोन
Name[hr]=Ozon
Name[hsb]=Ozone
Name[hu]=Ozone
Name[is]=Ozone
Name[it]=Ozono
Name[ja]=Ozone
Name[kk]=Озон
Name[km]=អូហ្សូន
Name[kn]=ಓಜೋನ್
Name[ko]=Ozone
Name[ku]=Ozone
Name[lt]=Ozone
Name[lv]=Ozone
Name[mai]=ओजोन
Name[mk]=Озон
Name[ml]=ഓസോണ്‍
Name[mr]=ओझोन
Name[nb]=Ozone
Name[nds]=Ozoon
Name[nl]=Ozone
Name[nn]=Ozon
Name[pa]=ਓਜ਼ੋਨ
Name[pl]=Ozone
Name[pt]=Ozone
Name[pt_BR]=Ozone
Name[ro]=Ozon
Name[ru]=Озон
Name[si]=Ozone
Name[sk]=Ozone
Name[sl]=Ozon
Name[sr]=Озон
Name[sr@latin]=Ozone
Name[sv]=Ozone
Name[ta]=Ozone
Name[te]=ఓజోన్
Name[tg]=Ozone
Name[th]=โอโซน
Name[tr]=Ozone
Name[uk]=Озон
Name[wa]=Ozone
Name[x-test]=xxOzonexx
Name[zh_CN]=臭氧
Name[zh_TW]=Ozone
X-KDE-Library=kwin3_ozone
